@charset "UTF-8";
/* CSS Document */
* {
	padding: 0px;
	margin: 0px;
}

body {
	width: 100%;
	margin-top: 180px;
}

#forside, #events, #om-festivallen, #godt-at-vide {
height: 1080px;
width; 100%;
}

/* basic styling slut*/


/* navigation*/

#site-nav {
	top: 0;
	position: fixed;
	width: 100%;
	background-color: #3C5460;
}

#site-nav ul {
	height: 60px;
	justify-content: flex-end;
	display: flex;
	align-items: center;
}

#site-nav li {
	list-style-type: none;
}

#site-nav li a {
    display: block;
    color: #fff;
    padding: 25px 25px;
    text-decoration: none;
		font-family: 'augusta', sans-serif;
		font-size: 30px;
}

/* navigation - slut*/


<<<<<<< HEAD

/* forside - start*/

#forside {
	text-align: center;
}

.nav-logo {
	max-width: 100px;
=======
#events {
	background-color: blue;
	font-family: 'augusta', sans-serif;
	font-size: 25px;
}


#om-festivallen {
	text-align: center;

}


#godt-at-vide {
	background-color: red;
>>>>>>> Jacob
}

.nav-logo img {
	height: 50px;
	width: 50px;
}

.intro-tekst {
}

.intro-tekst h2 {
	font-family: 'augusta', sans-serif;
	color: #AC683A;
	font-size: 5em;
}

.intro-tekst p {
	font-family: 'Avenir', sans-serif;
	color: #AC683A;
	font-size: 1.4em;
}

#forside-slider {
 margin-top: 40px;
 max-width: 1920px;
}

.mySlides {
	display:none;
	width: 100%;
}


/* forside - slut*/


/* godt at vide - start*/
#aboutwrapper {
	display: flex;
	flex-direction: column;
}

.infobox {
	display: block;

}
/* godt at vide - slut*/




/* footer*/

footer {
	text-align: center;
	height: 100px;
	background-color: #3C5460;
	display: flex;
	padding: 5px;
	flex-direction: row;
	justify-content: flex-end;
}

footer p {
	padding-top: 1%;
	color: #fff;
	font-size: 10px;
	display: block;
	margin: 0 auto 0 5px;
}

.adresse {
	display:flex ;
	flex-direction: column;
	text-align: left;
	margin: 0 auto 0 25px;
}

.spanfooter {
	color: #ffffff;
}

footer img {
	display: block;
	height: 40px;
	width: 40px;
	margin: auto;
	padding: 5px;
	flex: 1;
	}

	#om-festivallen .logo {
		height: 400px;
		flex: 1;
		order: 2;
