@charset "UTF-8";
/* CSS Document */
* {
	padding: 0px;
	margin: 0px;
}

body {
	width: 100%;
}

#forside, #events, #om-festivallen, #godt-at-vide {
height: 1080px;
width; 100%;
}

/* basic styling slut*/


/* navigation*/

nav ul {
	height: 60px;
	width: 100%;
	justify-content: flex-end;
	display: flex;
	align-items: center;
	position: fixed;
	background-color: #134660;
}

li {
	list-style-type: none;
}

li a {
    display: block;
    color: #fff;
    padding: 24px 24px;
    text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}

/* navigation - slut*/



/* footer*/

footer {
	text-align: center;
	height: 100px;
	background-color: #134660;
	display: flex;
}

footer p {
	padding-top: 1%;
	color: #fff;
	font-size: 10px;
	display: flex;
}
footer img {
	display: block;
	height: 40px;
	width: 40px;
	margin: auto;
	padding: 5px;
	}
