@charset "UTF-8";
/* CSS Document */
* {
	padding: 0px;
	margin: 0px;
}

body {
	width: 100%;
<<<<<<< HEAD
=======
	margin-top: 180px;
>>>>>>> 451660612cc80c8b40ffeabad95ed14a41f32db7
}

#forside, #events, #om-festivallen, #godt-at-vide {
height: 1080px;
width; 100%;
}

/* basic styling slut*/


/* navigation*/
<<<<<<< HEAD

nav ul {
=======
#site-nav {
	top: 0;
	position: fixed;
	width: 100%;
	background-color: #3C5460;
	height: 80px;
}

#site-nav ul {
>>>>>>> 451660612cc80c8b40ffeabad95ed14a41f32db7
	height: 60px;
	width: 100%;
	justify-content: flex-end;
	display: flex;
	align-items: center;
	position: fixed;
	background-color: #3C5460;
}

li {
	list-style-type: none;
}

li a {
    display: block;
    color: #fff;
    padding: 25px 25px;
    text-decoration: none;
		font-family: 'augusta', sans-serif;
		font-size: 25px;
}

/* navigation - slut*/


#events {
	background-color: blue;

}


#om-festivallen {
	text-align: center;


}

.container {
	display: flex;
	flex-direction: row;
	padding: 15px;
}

#om-festivallen img {
	height: 70%;
	width: 100%;
}



#om-festivallen .logo {
	height: 400px;
	flex: 1;
	order: 2;
}


#om-festivallen .tekst {
	flex: 4;
	order: 1;
	text-align: left;
}

#godt-at-vide {
	background-color: red;

}




/* footer*/

footer {
	text-align: center;
	height: 100px;
	background-color: #3C5460;
	display: flex;
	padding: 5px;
	flex-direction: row;
	justify-content: flex-end;

}

footer p {
	padding-top: 1%;
	color: #fff;
	font-size: 10px;
	display: block;
	margin: 0 auto 0 5px;
}

.adresse {
	display:flex ;
	flex-direction: column;
	text-align: left;
	margin: 0 auto 0 25px;
}

.spanfooter {
	color: #ffffff;
}

footer img {
	display: block;
	height: 40px;
	width: 40px;
	margin: auto;
	padding: 5px;
	flex: 1;
	}
